.search {
  padding: 0 16px;
}

.search-input {
  width: 100%;
}

.error {
  color: #f44336;
  padding: 0 16px;
}

.process-spinner {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
